## define MDD definition- select a subeset for MDD and Select a match control subset

In [1]:
import pandas as pd

In [2]:
metadata = pd.read_csv(
    '/dbstore/UKBiobank/Data_Download_02JULY2020/ukb42608.csv',
    index_col='eid',
)

/data/zmohaghegh/venv/lib64/python3.6/site-packages/IPython/core/interactiveshell.py:3072: DtypeWarning: Columns (214,215,217,218,219,220,221,373,375,557,558,559,560,916,918,920,922,924,926,928,1171,1173,1175,1177,1179,1496,1497,1559,1560,1561,1562,3158,3160,3162,3164,3166,3168,3170,3172,3174,6051,6052,6054,6055,6064,6065,6067,6068,6077,6078,6080,6081,6090,6091,6093,6094,6103,6104,6106,6107,6116,6117,6119,6120,6129,6130,6132,6133,6142,6143,6145,6146,6155,6156,6158,6159,6168,6169,6171,6172,6181,6182,6184,6185,6194,6195,6197,6198,6207,6208,6210,6211,6220,6221,6223,6224,6233,6234,6236,6237,6246,6247,6249,6250,6259,6260,6262,6263,6272,6273,6275,6276,6285,6286,6288,6289,6298,6299,6301,6302,6311,6312,6314,6315,6324,6325,6327,6328,6337,6338,6340,6341,6350,6351,6353,6354,6363,6364,6366,6367,6376,6377,6379,6380,6389,6390,6392,6393,6402,6403,6405,6406,6415,6416,6418,6419,6428,6429,6431,6432,6441,6442,6444,6445,6452,6456,6460,6463,6467,6470,6471,6475,6478,6479,6483,6497,6511,6525,6539,6553,6567,6581,6595,6609,6623,6637,6651,6665,6679,6693,6705,6719,6733,6747,6761,6775,6789,6803,6817,6831,6845,6859,6873,6887,6910,6911,6912,6913,6914,6915,6916,6917,6918,6919,6920,6921,6922,6923,6924,6925,6926,6927,6928,6929,6930,6931,6932,6933,6934,6935,6936,6937,6938,6939,6940,6941,6942,6943,6944,6945,6946,6947,6948,6949,6950,6951,6952,6953,6954,6955,6956,6957,6958,6959,6960,6961,6962,6963,6964,6965,6984,6985,6986,6987,6988,6989,6990,6991,6992,6993,6994,6995,6996,6997,6998,6999,7000,7001,7002,7003,7004,7005,7006,7007,7008,7009,7010,7011,7012,7013,7014,7015,7016,7017,7018,7019,7020,7021,7022,7023,7024,7025,7026,7027,7028,7029,7030,7031,7032,7033,7034,7035,7036,7037,7038,7039,7040,7041,7042,7043,7044,7045,7046,7047,7048,7049,7050,7051,7052,7053,7054,7055,7056,7057,7058,7059,7060,7061,7062,7063,7064,7065,7066,7067,7068,7069,7070,7071,7072,7073,7074,7075,7076,7077,7078,7079,7080,7081,7082,7083,7084,7085,7086,7087,7088,7089,7090,7091,7092,7093,7094,7095,7096,7097,7098,7099,7100,7101,7102,7103,7104,7105,7106,7107,7108,7109,7110,7111,7112,7113,7114,7115,7116,7117,7118,7119,7120,7121,7122,7123,7124,7125,7126,7127,7128,7129,7130,7131,7132,7133,7134,7135,7136,7137,7138,7139,7140,7141,7142,7143,7144,7145,7146,7147,7148,7149) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [3]:
metadata.head()

,54-0.0,54-1.0,54-2.0,54-3.0,1920-0.0,1920-1.0,1920-2.0,1920-3.0,1930-0.0,1930-1.0,...,41204-0.174,41204-0.175,41204-0.176,41204-0.177,41204-0.178,41204-0.179,41204-0.180,41204-0.181,41204-0.182,41204-0.183
eid,,,,,,,,,,,,,,,,,,,,,
1000010,11011.0,NaN,NaN,NaN,1.0,NaN,NaN,NaN,0.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1000028,11011.0,NaN,NaN,NaN,1.0,NaN,NaN,NaN,1.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1000034,11018.0,NaN,NaN,NaN,0.0,NaN,NaN,NaN,0.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1000045,11016.0,11024.0,NaN,NaN,0.0,0.0,NaN,NaN,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1000052,11012.0,NaN,11027.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
sub_metadata = metadata[[
    '2050-2.0', '2060-2.0', '20123-0.0', '20124-0.0', '20125-0.0', '20435-0.0', '20436-0.0',
    '20437-0.0', '20439-0.0', '20440-0.0', '20441-0.0', '20446-0.0', '20449-0.0', '20450-0.0',
    '20507-0.0', '20508-0.0', '20510-0.0', '20511-0.0', '20513-0.0', '20514-0.0', '20517-0.0',
    '20518-0.0', '20519-0.0', '20532-0.0',  '20536-0.0', 
]]
sub_metadata.describe()

,2050-2.0,2060-2.0,20123-0.0,20124-0.0,20125-0.0,20435-0.0,20436-0.0,20437-0.0,20439-0.0,20440-0.0,...,20508-0.0,20510-0.0,20511-0.0,20513-0.0,20514-0.0,20517-0.0,20518-0.0,20519-0.0,20532-0.0,20536-0.0
count,48643.000000,48643.000000,9754.0,15245.0,9398.0,89034.000000,89034.000000,89034.000000,89034.000000,89034.000000,...,157348.000000,157348.000000,157348.000000,157348.000000,157348.000000,157348.000000,157348.000000,157348.000000,89034.000000,89034.000000
mean,1.149888,1.153116,1.0,1.0,1.0,-14.268190,-5.830604,-10.009086,-2.593133,-0.494800,...,-0.005097,-1.708055,0.063439,-5.321466,-1.021723,-0.046502,-0.379185,-0.087125,-17.002830,-17.790181
std,0.646144,0.598327,0.0,0.0,0.0,45.480867,41.005227,62.131127,36.094242,44.251872,...,31.909504,49.353158,31.374159,71.987686,43.069130,38.074317,34.523236,37.958074,47.082239,48.836569
min,-3.000000,-3.000000,1.0,1.0,1.0,-818.000000,-818.000000,-818.000000,-818.000000,-818.000000,...,-818.000000,-818.000000,-818.000000,-818.000000,-818.000000,-818.000000,-818.000000,-818.000000,-818.000000,-818.000000
25%,1.000000,1.000000,1.0,1.0,1.0,0.000000,2.000000,0.000000,2.000000,1.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,0.000000,0.000000
50%,1.000000,1.000000,1.0,1.0,1.0,1.000000,3.000000,0.000000,2.000000,2.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,2.000000,1.000000,1.000000
75%,1.000000,1.000000,1.0,1.0,1.0,1.000000,3.000000,1.000000,3.000000,3.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,2.000000,1.000000,2.000000,1.000000,2.000000
max,4.000000,4.000000,1.0,1.0,1.0,1.000000,4.000000,1.000000,3.000000,3.000000,...,4.000000,4.000000,4.000000,4.000000,4.000000,4.000000,4.000000,4.000000,1.000000,3.000000

### MDD definitionsÂ¶

sub_sample1 = (20123=='Yes' | 20124=='Yes' | 20125=='Yes') & (2050=='Nearly every day' | 2060=='Nearly every day')

sub_sample2 = (20123=='Yes' | 20124=='Yes' | 20125=='Yes') & ( 2050=='Nearly every day|More than half the days' | 2060=='Nearly every day|More than half the days' )

depression_ever_Davis = (20441 == 'yes' | 20446 == 'yes') & (20436 == 'most of the day' | 20436 == 'all day long') & ( 20439 == 'almost everyday' | 20439=='everyday') & (20440=='somewhat' | 20440=='alot') & ( 5 out of 20441, 20446, 20449, 20536=='gain|lost|gain_lost', 20532==?, 20435, 20450, 20437)

sub_sample3 = (20514, 20510, 20517, 20519, 20511=='poor appitide|overeating', 20510='feeling down|helpless|depressed', 20507, 20508, 20518, 20513 all number > 5 & half da y) & depression_ever_Davis

Guido_sub_sample = depression_ever_Davis & sub_sample2

https://biobank.ctsu.ox.ac.uk/crystal/label.cgi?id=138

Field ID	Description

20446	Ever had prolonged feelings of sadness or depression
20441	Ever had prolonged loss of interest in normal activities
20547	Activities undertaken to treat depression
20433	Age at first episode of depression
20434	Age at last episode of depression
20445	Depression possibly related to childbirth
20447	Depression possibly related to stressful or traumatic event
20532	Did your sleep change?
20435	Difficulty concentrating during worst depression
20438	Duration of worst depression
20449	Feelings of tiredness during worst episode of depression
20450	Feelings of worthlessness during worst period of depression
20436	Fraction of day affected during worst episode of depression
20439	Frequency of depressed days during worst episode of depression
20440	Impact on normal roles during worst period of depression
20442	Lifetime number of depressed periods
20448	Professional informed about depression
20518	Recent changes in speed/amount of moving or speaking
20510	Recent feelings of depression
20507	Recent feelings of inadequacy
20519	Recent feelings of tiredness or low energy
20514	Recent lack of interest or pleasure in doing things
20511	Recent poor appetite or overeating
20513	Recent thoughts of suicide or self-harm
20508	Recent trouble concentrating on things
20534	Sleeping too much
20546	Substances taken for depression
20437	Thoughts of death during worst depression
20533	Trouble falling asleep
20517	Trouble falling or staying asleep, or sleeping too much
20535	Waking too early
20536	Weight change during worst episode of depression

## translating field from metadat 2018 to 2020 ( answer to number)

In [19]:
sub_metadata['2050-2.0'].value_counts()

#  1  = Not at all 
#  2  = Several days
# -1  = Do not know 
#  3  = More than half the days
#  4  = Nearly every day
# -3  = Prefer not to answer

 1.0    39070
 2.0     7016
-1.0     1111
 3.0      819
 4.0      481
-3.0      146
Name: 2050-2.0, dtype: int64

In [16]:
sub_metadata['2060-2.0'].value_counts()


#  1  = Not at all 
#  2  = Several days
# -1  = Do not know 
#  3  = More than half the days
#  4  = Nearly every day
# -3  = Prefer not to answer

 1.0    40217
 2.0     6224
 3.0      845
-1.0      780
 4.0      486
-3.0       91
Name: 2060-2.0, dtype: int64

In [35]:
sub_metadata['20440-0.0'].value_counts()

#  1  = A little 
#  2  = Somewhat
#  3  = A lot 
# -1  = Do not know

 2.0      30616
 3.0      27771
 1.0      24081
 0.0       6306
-818.0      260
Name: 20440-0.0, dtype: int64

In [33]:
sub_metadata['20441-0.0'].value_counts()

# 1 = yes
# 0 = no

 0.0      94866
 1.0      62028
-818.0      454
Name: 20441-0.0, dtype: int64

In [44]:
sub_metadata['20436-0.0'].value_counts()

#  1  = less than half of the day
#  2  = about half of the day
#  3  = Most of the day
#  4 = All day long
# -number  = Prefer not to answer /do not know

 3.0      40229
 4.0      20619
 2.0      11735
 1.0      10809
-121.0     5536
-818.0      106
Name: 20436-0.0, dtype: int64

In [46]:
sub_metadata['20439-0.0'].value_counts()

#  1  = less often 
#  2  = Almost every day
#  3  = Every day
# -number  = Prefer not to answer /do not know

 2.0      44142
 3.0      32973
 1.0       9040
-121.0     2766
-818.0      113
Name: 20439-0.0, dtype: int64

In [43]:
sub_metadata['20446-0.0'].value_counts()

#  1  = yes
#  0 = No

 1.0      85947
 0.0      70995
-818.0      406
Name: 20446-0.0, dtype: int64

In [37]:
sub_metadata['20449-0.0'].value_counts()

#  1  = yes
#  0 = No

 1.0      65359
 0.0      14442
-121.0     9150
-818.0       83
Name: 20449-0.0, dtype: int64

In [38]:
sub_metadata['20532-0.0'].value_counts()

#  1  = yes
#  0 = No

 1.0      60905
 0.0      15443
-121.0    12629
-818.0       57
Name: 20532-0.0, dtype: int64

In [39]:
sub_metadata['20435-0.0'].value_counts()

#  1  = yes
#  0 = No

 1.0      61704
 0.0      16736
-121.0    10522
-818.0       72
Name: 20435-0.0, dtype: int64

In [40]:
sub_metadata['20450-0.0'].value_counts()

#  1  = yes
#  0 = No

 1.0      42304
 0.0      40703
-121.0     5860
-818.0      167
Name: 20450-0.0, dtype: int64

In [41]:
sub_metadata['20437-0.0'].value_counts()

#  1  = yes
#  0 = No

 1.0      43617
 0.0      40111
-121.0     4886
-818.0      420
Name: 20437-0.0, dtype: int64

In [42]:
sub_metadata['20536-0.0'].value_counts()

# 0 = stay about the same weight
# 1 = gain weight
# 2 =lost weight 
# 3 = both gain and loss

 0.0      30435
 2.0      27102
-121.0    13309
 1.0      13241
 3.0       4879
-818.0       68
Name: 20536-0.0, dtype: int64

## MDD definitions

In [53]:
sub_sample1_conditions = (
    (sub_metadata['2050-2.0']== 4) | (sub_metadata['2060-2.0']== 4 )
)

In [54]:
sub_sample2_conditions = (
    (sub_metadata['2050-2.0']== 4 ) | (sub_metadata['2060-2.0']== 4 ) |
        (sub_metadata['2050-2.0']== 3 ) | (sub_metadata['2060-2.0']== 3)
)

In [55]:
depression_ever_davis_conditions = (
    ((sub_metadata['20441-0.0']==1) | (sub_metadata['20446-0.0']==1))
    &
    ((sub_metadata['20436-0.0']==3) | (sub_metadata['20436-0.0']==4))
    &
    ((sub_metadata['20439-0.0']==2) | (sub_metadata['20439-0.0']==3))
    &
    ((sub_metadata['20440-0.0']==2) | (sub_metadata['20440-0.0']==3))
    &
    (((sub_metadata['20441-0.0']==1).astype('int') + (sub_metadata['20446-0.0']==1).astype('int') +
      (sub_metadata['20449-0.0']==1).astype('int') + (sub_metadata['20532-0.0']==1).astype('int') +
      (sub_metadata['20435-0.0']==1).astype('int') + (sub_metadata['20450-0.0']==1).astype('int') +
      (sub_metadata['20437-0.0']==1).astype('int') + (
       (sub_metadata['20536-0.0']==2) | (sub_metadata['20536-0.0']==1) | 
       (sub_metadata['20536-0.0']== 3)
      ).astype('int')) >= 5)
)

In [58]:
sub_sample1 = sub_metadata.loc[sub_sample1_conditions]
sub_sample2 = sub_metadata.loc[sub_sample2_conditions]
depression_ever_davis = sub_metadata.loc[depression_ever_davis_conditions]

print(
    'sub_sample1:', len(sub_sample1),
    'sub_sample2:', len(sub_sample2),
    'depression_ever_davis:', len(depression_ever_davis) )

sub_sample1: 720 sub_sample2: 1943 depression_ever_davis: 37426

In [59]:
guido_sub_sample_conditions1 = (depression_ever_davis_conditions & sub_sample1_conditions)

In [61]:
guido_sub_sample_conditions2 = (depression_ever_davis_conditions & sub_sample2_conditions)

In [64]:
guido_sub_sample = sub_metadata.loc[guido_sub_sample_conditions2]

print('guido_sub_sample:', len(guido_sub_sample))

guido_sub_sample: 635

In [65]:
guido_sub_sample['MDD'] = 1

/data/zmohaghegh/venv/lib64/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [66]:
guido_sub_sample.describe()

,2050-2.0,2060-2.0,20123-0.0,20124-0.0,20125-0.0,20435-0.0,20436-0.0,20437-0.0,20439-0.0,20440-0.0,...,20510-0.0,20511-0.0,20513-0.0,20514-0.0,20517-0.0,20518-0.0,20519-0.0,20532-0.0,20536-0.0,MDD
count,635.000000,635.000000,15.0,44.0,62.0,635.000000,635.000000,635.000000,635.000000,635.000000,...,635.000000,635.000000,635.000000,635.000000,635.000000,635.000000,635.000000,635.000000,635.000000,635.0
mean,2.962205,2.822047,1.0,1.0,1.0,-5.181102,3.510236,-10.908661,2.629921,2.670866,...,-1.576378,0.820472,-24.288189,-4.137008,1.371654,-6.233071,2.727559,-5.938583,-10.392126,1.0
std,1.025767,1.054427,0.0,0.0,0.0,26.702242,0.500289,69.916407,0.483206,0.470269,...,56.303384,32.565623,143.248633,72.569895,32.585686,79.350195,1.088996,41.117563,36.096029,0.0
min,-3.000000,-3.000000,1.0,1.0,1.0,-121.000000,3.000000,-818.000000,2.000000,2.000000,...,-818.000000,-818.000000,-818.000000,-818.000000,-818.000000,-818.000000,1.000000,-818.000000,-121.000000,1.0
25%,3.000000,2.000000,1.0,1.0,1.0,1.000000,3.000000,0.000000,2.000000,2.000000,...,1.000000,1.000000,1.000000,1.000000,2.000000,1.000000,2.000000,1.000000,0.000000,1.0
50%,3.000000,3.000000,1.0,1.0,1.0,1.000000,4.000000,1.000000,3.000000,3.000000,...,2.000000,2.000000,1.000000,2.000000,2.000000,1.000000,3.000000,1.000000,1.000000,1.0
75%,4.000000,4.000000,1.0,1.0,1.0,1.000000,4.000000,1.000000,3.000000,3.000000,...,3.000000,3.000000,2.000000,3.000000,4.000000,2.000000,4.000000,1.000000,2.000000,1.0
max,4.000000,4.000000,1.0,1.0,1.0,1.000000,4.000000,1.000000,3.000000,3.000000,...,4.000000,4.000000,4.000000,4.000000,4.000000,4.000000,4.000000,1.000000,3.000000,1.0

In [67]:
print(len(guido_sub_sample))

635

In [68]:
guido_sub_sample.head()

,2050-2.0,2060-2.0,20123-0.0,20124-0.0,20125-0.0,20435-0.0,20436-0.0,20437-0.0,20439-0.0,20440-0.0,...,20510-0.0,20511-0.0,20513-0.0,20514-0.0,20517-0.0,20518-0.0,20519-0.0,20532-0.0,20536-0.0,MDD
eid,,,,,,,,,,,,,,,,,,,,,
1003504,3.0,2.0,NaN,NaN,NaN,1.0,4.0,1.0,3.0,3.0,...,4.0,4.0,2.0,4.0,4.0,1.0,4.0,1.0,1.0,1
1003559,4.0,3.0,NaN,NaN,NaN,1.0,4.0,1.0,3.0,3.0,...,2.0,1.0,1.0,2.0,4.0,1.0,2.0,1.0,0.0,1
1015037,3.0,3.0,NaN,NaN,NaN,1.0,4.0,0.0,2.0,2.0,...,3.0,1.0,1.0,2.0,2.0,1.0,3.0,1.0,0.0,1
1034601,2.0,4.0,NaN,NaN,NaN,1.0,4.0,0.0,3.0,3.0,...,3.0,2.0,1.0,4.0,3.0,2.0,4.0,1.0,1.0,1
1054208,3.0,2.0,NaN,NaN,NaN,-121.0,3.0,1.0,3.0,2.0,...,1.0,1.0,1.0,1.0,1.0,1.0,2.0,1.0,0.0,1

## save IDs as data fram eand then save it as CSV

In [72]:
UKBB_2020_MDD_ids = pd.DataFrame(guido_sub_sample.index)
UKBB_2020_MDD_ids['mdd'] = 1

In [73]:
UKBB_2020_MDD_ids.to_csv('UKBB_2020_MDD_ids.csv', index=False)
UKBB_2020_MDD_ids.head()

       eid  mdd
0  1003504    1
1  1003559    1
2  1015037    1
3  1034601    1
4  1054208    1

In [75]:
UKBB_2020_MDD_ids['eid'].isna().sum()

0

In [78]:
MDD_UKBB_2020_ids = pd.read_csv('UKBB_2020_MDD_ids.csv')